<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingredient Name</label>
          <input
            type="text"
            id="name"
            class="form-control my-2"
            name="name"
            ngModel
            required
            #name="ngModel"
          />
          <span
            *ngIf="!name.valid && name.touched"
            class="alert alert-danger p-1 my-2"
            role="alert"
          >
            This field is obligatory
          </span>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control my-2"
            name="amount"
            ngModel
            required
            #amount="ngModel"
            [pattern]="'^[1-9]+[0-9]*$'"
          />
          <span
            *ngIf="!amount.valid && amount.touched"
            class="alert alert-danger p-2 my-2"
            role="alert"
          >
            This field is obligatory
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            class="btn btn-success mx-1"
            type="submit"
            [disabled]="!f.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger mx-1"
            type="button"
            [disabled]="!f.valid"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary mx-1"
            type="button"
            [disabled]="!f.valid"
            (click)="onClear()"
            *ngIf="editMode"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
